.table-grid, .table-content {
    position: absolute;
    top:0px;
    left:0px;
    bottom:0px;
    width:100%;
}

.table-grid {
    z-index:1;
}

.table-content {
    z-index: 2;
}

.table-row, .table-row-content {
    height:50px;
    position: absolute;
    left:0px;
    width:100%;
}

.table-row{
    border-left-width: 0px !important;
    border-right-width: 0px !important;
}

.table-row-content {
    overflow: hidden;
}

.table-col {
    border-top-width: 0px !important;
    border-bottom-width: 0px !important;
    width:50px;
    position: absolute;
    top:0px;
    bottom:0px;
}

.table-header {
    line-height: 50px;
}

.backgroudFalse{
    background: linear-gradient(45deg, #000 1%, #fff 1%, #fff 49%, #000 49%, #000 51%, #fff 51%, #fff 99%, #000 99%);
    background-size: 6px 6px;
    z-index: -1;
}

.entete{
    background-color: #fff;
    z-index: 20;
}